<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../components/combo-box/combo-box.html">

<dom-module id="home-page">

    <template>
        <cells-template-paper-drawer-panel mode="seamed"  on-click="handleClick">
            <cells-component-app-header slot="app__header" id="header"></cells-component-app-header>
            <combo-box slot="app__main" id="inputText"></combo-box>
          </cells-template-paper-drawer-panel>
    </template>
  
    <script>
      {
        const CellsPage = customElements.get('cells-page');
  
        class HomePage extends CellsPage {
          static get is() {
            return 'home-page';
          }
        }
  
        window.customElements.define(HomePage.is, HomePage);
      };
    </script>
  </dom-module>